.contain#container {
    display: grid;
    align-items: start;
    justify-content: start;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    background-color: black;
    border: 1px solid white;
    width: 960px;
    height: 960px;
    
}

.box {
    background-color: black;
    color: black;
    justify-self: stretch;
    align-self: stretch;
    

}

.box:hover {
    background-color: lightblue;
}